doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title JSP Page
h1 Hello World!
form(action='f4' method='POST')
  | Logout:
  input(type='submit' name='logout' value='logout')
form(action='t1' method='POST')
  | transfer:
  input(type='submit' name='tran' value='tran')