head
  title PASSCODE
  link(rel='stylesheet' type='text/css' href='style.css')
  style.
    body {
    margin: 0;
    padding: 0;
    background: url(https://imgnooz.com/sites/default/files/wallpaper/movies/59738/batman-minimalism-wallpapers-59738-3103200.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    }
    .registerbox {
    width: 400px;
    height: 370px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 70px;
    }
    h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    }
    .registerbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    }
    .registerbox input {
    width: 100%;
    margin-bottom: 20px;
    color: #000;
    }
    .registerbox input[type="text"],
    input[type="password"] {
    border: none;
    border-bottom: lpx solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    }
    .registerbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fff;
    font-size: 18px;
    border-radius: 20px;
    }
    .registerbox input[type="submit"]:hover {
    cursor: pointer;
    background: #000;
    color: #fff;
    }
    .registerbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    }
    .registerbox a:hover {
    color: #ffc107;
    }
.registerbox
  h1  Enter your Password
  br
  form(action='f2' method='POST')
    label(for='psw')
      p Password :
    input(type='password' name='pswrd' placeholder='Password' required='')
    br
    label(for='psw-repeat')
      p Conform password
    input(type='password' name='pswrd2' placeholder='Enter Customer ID' required='')
    br
    input(type='submit' name='register' value='register')
