doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title JSP Page
h1 Hello World!
form(action='g4' method='POST')
  | Login:
  input(type='submit' name='login' value='login')
form(action='f1' method='POST')
  | transfer:
  input(type='submit' name='register' value='register')