head
  title Registration Form Design 
  link(rel='stylesheet' type='text/css' href='style.css')
  style.
    body {
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/originals/69/33/aa/6933aa45bd0cd32e93d172a0e34fd357.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    }
    .registerbox {
    width: 400px;
    height: 450px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 70px;
    }
    h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    }
    .registerbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    }
    .registerbox input {
    width: 100%;
    margin-bottom: 20px;
    color: #000;
    }
    .registerbox input[type="text"],
    input[type="password"] {
    border: none;
    border-bottom: lpx solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    }
    .registerbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fff;
    font-size: 18px;
    border-radius: 20px;
    }
    .registerbox input[type="submit"]:hover {
    cursor: pointer;
    background: #000;
    color: #fff;
    }
    .registerbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    }
    .registerbox a:hover {
    color: #ffc107;
    }
.registerbox
  h1  Transaction Details
  br
  form(action='/t6/same' method='POST')
    p Account Number
    input#accno(type='text' name='accno' placeholder='Enter Account Number' pattern='[0-9]{16}$' required='')
    br
    p Amount
    input#amount(type='text' name='amount' placeholder='Amount' required='')
    br
    p MPIN :
    input#mpin(type='password' name='mpin' placeholder='Mpin' pattern='[0-9]{4}$' required='')
    br
    h3
    input(type='submit' name='lgn1' value='Submit')
